# autotools
Makefile
Makefile.in
*/Makefile
*/Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config.h
config.h.in
configure
install-sh
missing
depcomp
test-driver

# build products
source/QS3ED2
*.o
*.mod
a.out

# test artifacts
tests/*.log
tests/*.trs
tests/test-suite.log
examples/

# editor
*~
