site_name: ED2 Documentation
repo_url: https://github.com/QS-Cube/ED2
theme:
  name: material
docs_dir: docs
nav:
  - Home: index.md
plugins:
  - search
markdown_extensions:
  - admonition
  - attr_list
  - footnotes
  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.arithmatex:
      generic: true  
nav:
  - Home: index.md
  - Getting Started:
      - Installation: getting-started/installation.md
      - Quickstart: getting-started/quickstart.md
  - User Guide:
      - Input format: user-guide/input-format.md
      - Outputs: user-guide/outputs.md
  - Examples:
      - Overview: examples/examples.md
  - Validation & Performance:
      - Validation: vp/validation.md
      - Performance: vp/performance.md      
  - Theory / Algorithms:
      - Overview: theory/algorithms.md
      
